[data-atoms=app]
  [data-atom=li]
    &.category_0 div > span
      background-color: C_0
    &.category_1 div > span
      background-color: C_1
    &.category_2 div > span
      background-color: C_2
    &.category_3 div > span
      background-color: C_3
    &.category_4 div > span
      background-color: C_4
    &.category_5 div > span
      background-color: C_5
    &.category_6 div > span
      background-color: C_6
    &.category_7 div > span
      background-color: C_7
    &.category_8 div > span
      background-color: C_8
    &.category_9 div > span
      background-color: C_9
    &.category_10 div > span
      background-color: C_10
    &.category_11 div > span
      background-color: C_11
    &.category_12 div > span
      background-color: C_12

    > div
      small, strong
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        display: block
        text-transform: capitalize
      span
        padding: 0 .2rem
        font-size: FONT_SIZE_TINY !important
        font-weight: FONT_WEIGHT_NORMAL
        color: WHITE
        border-radius: .2rem


  article [data-atom=li]
    > figure
      border-radius: 50%
    > div
      strong
        font-size: FONT_SIZE_SMALL !important
        font-weight: FONT_WEIGHT_BOLD
      small
        font-size: FONT_SIZE_TINY
        font-weight: FONT_WEIGHT_THIN
        color: lighten(DARK, 25%)

  aside [data-atom=li]
    &.category_0
      box-shadow: inset .25rem 0 C_0
    &.category_1
      box-shadow: inset .25rem 0 C_1
    &.category_2
      box-shadow: inset .25rem 0 C_2
    &.category_3
      box-shadow: inset .25rem 0 C_3
    &.category_4
      box-shadow: inset .25rem 0 C_4
    &.category_5
      box-shadow: inset .25rem 0 C_5
    &.category_6
      box-shadow: inset .25rem 0 C_6
    &.category_7
      box-shadow: inset .25rem 0 C_7
    &.category_8
      box-shadow: inset .25rem 0 C_8
    &.category_9
      box-shadow: inset .25rem 0 C_9
    &.category_10
      box-shadow: inset .25rem 0 C_10
    &.category_11
      box-shadow: inset .25rem 0 C_11
    &.category_12
      box-shadow: inset .25rem 0 C_12

    strong
      font-size: FONT_SIZE_SMALL
    &.active
      font-weight: FONT_WEIGHT_BOLD !important
      &.category_0
        background-color: C_0
      &.category_1
        background-color: C_1
      &.category_2
        background-color: C_2
      &.category_3
        background-color: C_3
      &.category_4
        background-color: C_4
      &.category_5
        background-color: C_5
      &.category_6
        background-color: C_6
      &.category_7
        background-color: C_7
      &.category_8
        background-color: C_8
      &.category_9
        background-color: C_9
      &.category_10
        background-color: C_10
      &.category_11
        background-color: C_11
      &.category_12
        background-color: C_12
