[data-atoms=app]
  [data-category="0"]
    > header
      border-color: C_1 !important
    > header, > nav
      background-color: C_0 !important
  [data-category="1"]
    > header
      border-color: C_1 !important
    > header, > nav
      background-color: C_1 !important
  [data-category="2"]
    > header
      border-color: C_2 !important
    > header, > nav
      background-color: C_2 !important
  [data-category="3"]
    > header
      border-color: C_3 !important
    > header, > nav
      background-color: C_3 !important
  [data-category="4"]
    > header
      border-color: C_4 !important
    > header, > nav
      background-color: C_4 !important
  [data-category="5"]
    > header
      border-color: C_5 !important
    > header, > nav
      background-color: C_5 !important
  [data-category="6"]
    > header
      border-color: C_6 !important
    > header, > nav
      background-color: C_6 !important
  [data-category="7"]
    > header
      border-color: C_7 !important
    > header, > nav
      background-color: C_7 !important
  [data-category="8"]
    > header
      border-color: C_8 !important
    > header, > nav
      background-color: C_8 !important
  [data-category="9"]
    > header
      border-color: C_9 !important
    > header, > nav
      background-color: C_9 !important
  [data-category="10"]
    > header
      border-color: C_10 !important
    > header, > nav
      background-color: C_10 !important
  [data-category="11"]
    > header
      border-color: C_11 !important
    > header, > nav
      background-color: C_11 !important
  [data-category="12"]
    > header
      border-color: C_12 !important
    > header, > nav
      background-color: C_12 !important
