[data-atoms="app"]

  [data-atom=li]
    small
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      display: block

  aside [data-atom=li]
    strong
      font-size: FONT_SIZE_TINY

    &.active
      background-color: THEME
      font-weight: FONT_WEIGHT_BOLD
