[data-atoms="app"]
  WIDTH = .3rem

  [data-atom=li]
    small, strong
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      display: block

    &.category_0
      box-shadow inset WIDTH 0 C_0
      span
        background-color: C_0
    &.category_1
      box-shadow inset WIDTH 0 C_1
      span
        background-color: C_1
    &.category_2
      box-shadow inset WIDTH 0 C_2
      span
        background-color: C_2
    &.category_3
      box-shadow inset WIDTH 0 C_3
      span
        background-color: C_3
    &.category_4
      box-shadow inset WIDTH 0 C_4
      span
        background-color: C_4
    &.category_5
      box-shadow inset WIDTH 0 C_5
      span
        background-color: C_5
    &.category_6
      box-shadow inset WIDTH 0 C_6
      span
        background-color: C_6
    &.category_7
      box-shadow inset WIDTH 0 C_7
      span
        background-color: C_7
    &.category_8
      box-shadow inset WIDTH 0 C_8
      span
        background-color: C_8
    &.category_9
      box-shadow inset WIDTH 0 C_9
      span
        background-color: C_9
    &.category_10
      box-shadow inset WIDTH 0 C_10
      span
        background-color: C_10
    &.category_11
      box-shadow inset WIDTH 0 C_11
      span
        background-color: C_11
    &.category_12
      box-shadow inset WIDTH 0 C_12
      span
        background-color: C_12

    span
      padding: 0 .25rem
      font-size: FONT_SIZE_TINY !important
      font-weight: FONT_WEIGHT_BOLD
      color: WHITE
      border-radius: (FONT_SIZE_TINY / 2)


  article [data-atom=li]
    padding: 0 0 0 WIDTH !important
    > figure
      height: SIZE = 3.4rem !important
      width: SIZE
      margin-right: 0

    > div
      margin: .5rem
      height: 2.35rem
      strong
        font-size: FONT_SIZE_NORMAL
        font-weight: FONT_WEIGHT_BOLD
        line-height: FONT_SIZE_BIG
      small
        font-size: FONT_SIZE_TINY
        font-weight: FONT_WEIGHT_THIN
        line-height: FONT_SIZE_NORMAL
        color: lighten(DARK, 25%)

  aside [data-atom=li]
    strong
      font-size: FONT_SIZE_TINY
    &.active
      font-weight: FONT_WEIGHT_BOLD !important
      &.category_0
        background-color: C_0
      &.category_1
        background-color: C_1
      &.category_2
        background-color: C_2
      &.category_3
        background-color: C_3
      &.category_4
        background-color: C_4
      &.category_5
        background-color: C_5
      &.category_6
        background-color: C_6
      &.category_7
        background-color: C_7
      &.category_8
        background-color: C_8
      &.category_9
        background-color: C_9
      &.category_10
        background-color: C_10
      &.category_11
        background-color: C_11
      &.category_12
        background-color: C_12
