[data-atoms=app]
  [data-extend=appnimasession]
    background-color: THEME !important

    & [data-atom=image]
      background-color: transparent !important
      max-width: 66%
      height: auto !important
      margin: 2.5rem 0 !important

    &, & [data-atom=heading]
      color: lighten(THEME, 50%) !important

    & [data-atom=input]
      text-align: center !important
