[data-atoms="app"]
  WIDTH = .3rem

  [data-atom=li]
    small, strong
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      display: block

    &.category_0
      box-shadow inset WIDTH 0 C_0
    &.category_1
      box-shadow inset WIDTH 0 C_1
    &.category_2
      box-shadow inset WIDTH 0 C_2
    &.category_3
      box-shadow inset WIDTH 0 C_3
    &.category_4
      box-shadow inset WIDTH 0 C_4
    &.category_5
      box-shadow inset WIDTH 0 C_5
    &.category_6
      box-shadow inset WIDTH 0 C_6
    &.category_7
      box-shadow inset WIDTH 0 C_7
    &.category_8
      box-shadow inset WIDTH 0 C_8
    &.category_9
      box-shadow inset WIDTH 0 C_9
    &.category_10
      box-shadow inset WIDTH 0 C_10
    &.category_11
      box-shadow inset WIDTH 0 C_11
    &.category_12
      box-shadow inset WIDTH 0 C_12


  article [data-atom=li]
    padding: 0 0 0 WIDTH !important
    > figure
      height: SIZE = 3.75rem !important
      width: SIZE
      margin-right: 0

    > div
      PADDING = .5rem
      small, strong
        margin-left: PADDING !important
        font-size: FONT_SIZE_SMALL
      strong
        margin-top: PADDING
        font-weight: FONT_WEIGHT_BOLD
      small
        margin-bottom: PADDING
        font-weight: FONT_WEIGHT_THIN

      span
        margin-top: PADDING
        margin-right: PADDING
        padding: 0 (PADDING / 2)
        font-size: FONT_SIZE_TINY !important
        font-weight: FONT_WEIGHT_BOLD
        background-color: THEME
        color: WHITE
        border-radius: PADDING


  aside [data-atom=li]
    strong
      font-size: FONT_SIZE_TINY
    &.active
      background-color: THEME
      font-weight: FONT_WEIGHT_BOLD
      &.category_0
        background-color: C_0
      &.category_1
        background-color: C_1
      &.category_2
        background-color: C_2
      &.category_3
        background-color: C_3
      &.category_4
        background-color: C_4
      &.category_5
        background-color: C_5
      &.category_6
        background-color: C_6
      &.category_7
        background-color: C_7
      &.category_8
        background-color: C_8
      &.category_9
        background-color: C_9
      &.category_10
        background-color: C_10
      &.category_11
        background-color: C_11
      &.category_12
        background-color: C_12
