[data-atoms="app"], html
  font-family: "Open Sans", "sans-serif"
  // font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  font-weight: FONT_WEIGHT_THIN
  font-size: 16px
  background: darken(DARK, 100%)

[data-atoms=app]
  [data-organism=item]
    > section
      > figure
        min-height: 192px
        background-size: cover
      > [data-atom=heading]
        margin: .75rem .75rem 0 .75rem
      > h1
        font-size: 1.05rem !important
      > h6
        text-align: justify
