a
  [data-atoms="app"] header nav &
    color: lighten(THEME, 85%)
    &:active, &.active
      color: WHITE

@media screen and (min-width: 1024px)
  [data-atoms="app"] header nav a:hover
    color: WHITE
