[data-atoms=app]
  article, aside
    header > [data-atom=heading]
      font-size: 1.1rem
      font-weight: FONT_WEIGHT_NORMAL
      color: WHITE

  section >
    h1
      font-size: (FONT_SIZE_BIG * 1.1)
      font-weight: FONT_WEIGHT_BOLD
    h2
      font-size: FONT_SIZE_BIG
      font-weight: FONT_WEIGHT_BOLD
    h3
      font-size: FONT_SIZE_NORMAL
      font-weight: FONT_WEIGHT_BOLD
    h4
      font-size: FONT_SIZE_NORMAL
      font-weight: FONT_WEIGHT_THIN
    h5
      font-size: FONT_SIZE_SMALL
      font-weight: FONT_WEIGHT_THIN
    h6
      font-size: FONT_SIZE_TINY
      font-weight: FONT_WEIGHT_THIN
